.HomePage {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 0 40px;

  > h1 {
    text-align: center;
  }

  &__refreshButton {
    margin-bottom: 14px;
  }

  &__mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
