.SettingsPage {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 0 40px;

  &__fiatCurrencyFieldset {
    display: flex;
  }

  &__fiatCurrencyOption {
    input {
      display: none;
    }

    input:checked + label {
      border: 1px solid #4bb543;
    }

    label {
      display: flex;
      align-items: center;
      margin-right: 20px;
      padding: 0 8px;
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 6px;
      transition: border .2s ease-out;
      cursor: pointer;
    }

    .Img {
      height: 40px;
      margin-right: 10px;
    }
  }

  &__bottomBar {
    margin-top: 60px;
  }
}
