import * as React from 'react';

import BaseComponent from 'common/BaseComponent';
import './{{ name }}.css';

interface Props {}

interface State {}

export default class {{ name }} extends BaseComponent<Props, State> {
  static defaultProps = {};

  state: State = {};

  render() {
    return (
      <div className="{{ name }}">
        {{ name }}
      </div>
    );
  }
}
