import * as React from 'react';
import './{{ name }}.css';

interface FProps {}

export default function {{ name }}(props: FProps) {
  return (
    <div className="{{ name }}">
      {{ name }}
    </div>
  );
}
